.ssh/*
!.ssh/config
.gnupg/*
!.gnupg/*.conf
.lesshst
src/
.ssh-agent-thing
.fasd
.bash_history
doc
.steam*
.Xauthority
.cache/
.nv/
.password-store/
.pki/
.pulse-cookie
Mail/
go/
.audacity-data/
.python_history
.itch/
.pylint.d/
